.App {
	background-color: antiquewhite;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.page-links {
	width: 90%;
	text-decoration: none;
	display: flex;
	list-style: none;
	justify-content: space-between;
}

li {
	background-color: lightblue;
	display: flex;
	justify-content: space-between;
}

.main-title {
	text-align: center;
	text-shadow: 2px 2px 2px black;
}
