.App {
	background-color: antiquewhite;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.page-links {
	display: flex;
	flex-direction: column;
	list-style: none;
	justify-content: space-around;
}

li {
	margin: auto;
	padding: none;
}
#links {
	display: flex;
	justify-content: space-between;
}

.main-title {
	text-align: center;
	text-shadow: 2px 2px 2px black;
}
